Repository vanessa-opensource/add, pull requests merged in 2018-09, with the labels that each got.

#311 WIP: Feature/reg exp 48
  epf/bddRunner/bddRunner/Ext/ObjectModule.bsl
  epf/bddRunner/bddRunner/Forms/Форма/Ext/Form.bin
  epf/bddRunner/bddRunner/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/Плагины/step_definitions/Фича_РегулярныеВыражения/Фича_РегулярныеВыражения.xml
  features/libraries/Плагины/step_definitions/Фича_РегулярныеВыражения/Фича_РегулярныеВыражения/Ext/ObjectModule.bsl
  features/libraries/Плагины/step_definitions/Фича_РегулярныеВыражения/Фича_РегулярныеВыражения/Forms/Форма.xml
  features/libraries/Плагины/step_definitions/Фича_РегулярныеВыражения/Фича_РегулярныеВыражения/Forms/Форма/Ext/Form.xml
  features/libraries/Плагины/step_definitions/Фича_РегулярныеВыражения/Фича_РегулярныеВыражения/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/Плагины/Фича_РегулярныеВыражения.feature
  plugins/РегулярныеВыражения/РегулярныеВыражения.xml
  plugins/РегулярныеВыражения/РегулярныеВыражения/Ext/ObjectModule.bsl
  plugins/РегулярныеВыражения/РегулярныеВыражения/Forms/Форма.xml
  plugins/РегулярныеВыражения/РегулярныеВыражения/Forms/Форма/Ext/Form.xml
  plugins/РегулярныеВыражения/РегулярныеВыражения/Forms/Форма/Ext/Form/Module.bsl
Labels: behavior, plugins

#322 #321 Ошибка при загрузке дымовых тестов по файлу json на некоторых конфигурациях
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
Labels: smoke

#329 Обнуление счетчика ожидания формирования фонового задания.
  features/libraries/UITestRunner/step_definitions/РаботаСИнтерфейсомДополнительный/РаботаСИнтерфейсомДополнительный/Forms/Форма/Ext/Form/Module.bsl
Labels: behavior
