Repository vanessa-opensource/add, pull requests merged in 2019-06, with the labels that each got.

#491 Сравнение таблиц без учета порядка строк + изменения в плагине Данные
  doc/xdd/Данные.MD
  plugins/Данные/Данные/Ext/ObjectModule.bsl
  plugins/УтвержденияПроверкаТаблиц/УтвержденияПроверкаТаблиц/Ext/ObjectModule.bsl
  tests/xunit/Plugins/Тесты_Данные/Тесты_Данные.xml
  tests/xunit/Plugins/Тесты_Данные/Тесты_Данные/Ext/ObjectModule.bsl
  tests/xunit/Plugins/Тесты_Данные/Тесты_Данные/Forms/Форма/Ext/Form.xml
  tests/xunit/Plugins/ТестыПроверитьРавенствоТаблиц/ТестыПроверитьРавенствоТаблиц/Ext/ObjectModule.bsl
Labels: plugins, Генерация данных

#498 Исправление по #496
  plugins/СериализаторMXL/СериализаторMXL/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Labels: Генерация данных

#508 Исправлена ошибка генерации отчета о тестирования в серверной базе на 8.3.15
  plugins/ГенераторОтчетаAllureXMLВерсия2/ГенераторОтчетаAllureXMLВерсия2/Ext/ObjectModule.bsl
  plugins/ГенераторОтчетаAllureXMLВерсия2/ГенераторОтчетаAllureXMLВерсия2/Forms/Форма/Ext/Form/Module.bsl
  plugins/ГенераторОтчетаJUnitXML/ГенераторОтчетаJUnitXML/Ext/ObjectModule.bsl
  plugins/ГенераторОтчетаJUnitXML/ГенераторОтчетаJUnitXML/Forms/Форма/Ext/Form/Module.bsl
Labels: tdd

#504 Убрал глобальную переменную, переделал на реквизит
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Labels: smoke
