Repository vanessa-opensource/add, pull requests merged in 2019-05, with the labels that each got.

#477 Исправил ссылку на документацию bdd
  doc/README.md
Labels: docs

#476 Fix 475
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Labels: smoke

#456 Путь к файлам отчетов
  plugins/ГенераторОтчетаAllureXML/ГенераторОтчетаAllureXML/Ext/ObjectModule.bsl
  plugins/ГенераторОтчетаAllureXML/ГенераторОтчетаAllureXML/Forms/Форма/Ext/Form/Module.bsl
  plugins/ГенераторОтчетаAllureXMLВерсия2/ГенераторОтчетаAllureXMLВерсия2/Ext/ObjectModule.bsl
  plugins/ГенераторОтчетаAllureXMLВерсия2/ГенераторОтчетаAllureXMLВерсия2/Forms/Форма/Ext/Form/Module.bsl
  tests/xunit/Plugins/Тесты_ГенераторОтчетаAllureXML/Тесты_ГенераторОтчетаAllureXML.xml
  tests/xunit/Plugins/Тесты_ГенераторОтчетаAllureXML/Тесты_ГенераторОтчетаAllureXML/Ext/ObjectModule.bsl
  tests/xunit/Plugins/Тесты_ГенераторОтчетаAllureXMLВерсия2/Тесты_ГенераторОтчетаAllureXMLВерсия2.xml
  tests/xunit/Plugins/Тесты_ГенераторОтчетаAllureXMLВерсия2/Тесты_ГенераторОтчетаAllureXMLВерсия2/Ext/ObjectModule.bsl
Labels: plugins, tdd
