Repository vanessa-opensource/add, pull requests merged in 2019-10, with the labels that each got.

#570 Исправление ошибки "При выполнении дымовых тестов, не открываются отчеты с общими формами #532"
  lib/CF/83xddNoSync/CommonForms/ФормаВариантаОтчета.xml
  lib/CF/83xddNoSync/CommonForms/ФормаВариантаОтчета/Ext/Form.xml
  lib/CF/83xddNoSync/CommonForms/ФормаВариантаОтчета/Ext/Form/Module.bsl
  lib/CF/83xddNoSync/CommonForms/ФормаНастроекОтчета.xml
  lib/CF/83xddNoSync/CommonForms/ФормаНастроекОтчета/Ext/Form.xml
  lib/CF/83xddNoSync/Configuration.xml
  lib/CF/83xddNoSync/Reports/ОтчетБезУказанияФорм.xml
  lib/CF/83xddNoSync/Reports/ОтчетБезУказанияФорм/Templates/ОсновнаяСхемаКомпоновкиДанных.xml
  lib/CF/83xddNoSync/Reports/ОтчетБезУказанияФорм/Templates/ОсновнаяСхемаКомпоновкиДанных/Ext/Template.xml
  lib/CF/83xddNoSync/Reports/ОтчетСОбщейФормойПоУмолчанию.xml
  lib/CF/83xddNoSync/Reports/ОтчетСОбщейФормойПоУмолчанию/Templates/ОсновнаяСхемаКомпоновкиДанных.xml
  lib/CF/83xddNoSync/Reports/ОтчетСОбщейФормойПоУмолчанию/Templates/ОсновнаяСхемаКомпоновкиДанных/Ext/Template.xml
  lib/CF/83xddNoSync/Reports/ОтчетССобственнымиФормами.xml
  lib/CF/83xddNoSync/Reports/ОтчетССобственнымиФормами/Forms/ФормаВарианта.xml
  lib/CF/83xddNoSync/Reports/ОтчетССобственнымиФормами/Forms/ФормаВарианта/Ext/Form.xml
  lib/CF/83xddNoSync/Reports/ОтчетССобственнымиФормами/Forms/ФормаВарианта/Ext/Form/Module.bsl
  lib/CF/83xddNoSync/Reports/ОтчетССобственнымиФормами/Forms/ФормаНастроек.xml
  lib/CF/83xddNoSync/Reports/ОтчетССобственнымиФормами/Forms/ФормаНастроек/Ext/Form.xml
  lib/CF/83xddNoSync/Reports/ОтчетССобственнымиФормами/Forms/ФормаОтчета.xml
  lib/CF/83xddNoSync/Reports/ОтчетССобственнымиФормами/Forms/ФормаОтчета/Ext/Form.xml
  lib/CF/83xddNoSync/Reports/ОтчетССобственнымиФормами/Forms/ФормаОтчета/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Labels: smoke

#571 Исправление добавления общих форм отчётов в тесты 532
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Labels: smoke

#556 Feature/allurelabels
  epf/bddRunner/bddRunner.xml
  epf/bddRunner/bddRunner/Ext/ObjectModule.bsl
  epf/bddRunner/bddRunner/Forms/УправляемаяФорма/Ext/Form.xml
  epf/bddRunner/bddRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/LoadSettings/LoadSettings/Forms/Форма/Ext/Form/Module.bsl
  plugins/Аллюр2Отчет/Аллюр2Отчет/Ext/ObjectModule.bsl
Labels: behavior

#575 Продолжение: Исправление добавления общих форм отчётов в тесты 532
  lib/CF/83xddNoSync/Catalogs/дт_ЭлементыСхемРазмещения.xml
  lib/CF/83xddNoSync/Configuration.xml
  lib/CF/83xddNoSync/Reports/дт_ЭлементыСхемРазмещения.xml
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Labels: smoke

#574 #557 Исключение внешних источников данных из проверки командного интерфейса
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Labels: smoke

#576 Feature/561
  features/libraries/UITestRunner/step_definitions/РаботаСИнтерфейсом/РаботаСИнтерфейсом/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/Пауза/step_definitions/СделатьПаузу/СделатьПаузу/Forms/Форма/Ext/Form/Module.bsl
Labels: behavior

#588 Продолжение - fix(Выбор файлов): переделал с Оповещения на Диалог.Выбрать()
  epf/xddTestRunner/xddTestRunner/Forms/Форма/Ext/Form.bin
  epf/xddTestRunner/xddTestRunner/Forms/Форма/Ext/Form/Module.bsl
  epf/xddTestRunner/xddTestRunner/Forms/Форма/Ext/Form/form
Labels: 8.2, tdd

#589 Исправлены тесты форм отчетов, использующих общие формы из конфигурации (585, 587)
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Labels: smoke

#590 Исправление для "Падает дымовой тест Проверка режима блокировки данных для общих реквизитов" 583
  lib/CF/83xddNoSync/CommonAttributes/ОбщийРеквизит1.xml
  lib/CF/83xddNoSync/Configuration.xml
  tests/smoke/ПроверкаРежимаБлокировки/ПроверкаРежимаБлокировки/Ext/ObjectModule.bsl
Labels: smoke

#594 Более понятное описание для дымовых тестов
  plugins/ЗагрузчикФайла/ЗагрузчикФайла/Ext/ObjectModule.bsl
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс.xml
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД/Ext/ObjectModule.bsl
Labels: smoke

#601 Показ версии Ванесса-АДД в логе запуска командной строки
  epf/bddRunner/bddRunner/Ext/ObjectModule.bsl
  epf/bddRunner/bddRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Labels: Enterprise support, behavior

#600 Feature/fix smoke input based on
  tests/smoke/Smoke_InputBasedOn/Smoke_InputBasedOn/Forms/Форма/Ext/Form/Module.bsl
Labels: good first issue, smoke
