Repository vanessa-opensource/add, pull requests merged in 2020-11, with the labels that each got.

#808 feat: Разделение ошибки и стектрейс
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/ГенераторОтчетаAllureXMLВерсия2/ГенераторОтчетаAllureXMLВерсия2/Ext/ObjectModule.bsl
  plugins/ГенераторОтчетаJUnitXML/ГенераторОтчетаJUnitXML/Ext/ObjectModule.bsl
Labels: smoke, tdd

#805 fix ClientOrdinaryApplication SmokeCommonModules
  tests/smoke/Tests_SmokeCommonModules/Tests_SmokeCommonModules/Ext/ObjectModule.bsl
  tests/smoke/Tests_SmokeCommonModules/Tests_SmokeCommonModules/Forms/Form/Ext/Form/Module.bsl
Labels: smoke

#807 WIP add Новые дымовые тесты 2
  tests/smoke/Тесты_ПроверкаАвтоРегистрацииПлановОбмена/Тесты_ПроверкаАвтоРегистрацииПлановОбмена.xml
  tests/smoke/Тесты_ПроверкаАвтоРегистрацииПлановОбмена/Тесты_ПроверкаАвтоРегистрацииПлановОбмена/Ext/ObjectModule.bsl
  tests/smoke/Тесты_ПроверкаАвтоРегистрацииПлановОбмена/Тесты_ПроверкаАвтоРегистрацииПлановОбмена/Forms/Форма.xml
  tests/smoke/Тесты_ПроверкаАвтоРегистрацииПлановОбмена/Тесты_ПроверкаАвтоРегистрацииПлановОбмена/Forms/Форма/Ext/Form.xml
  tests/smoke/Тесты_ПроверкаАвтоРегистрацииПлановОбмена/Тесты_ПроверкаАвтоРегистрацииПлановОбмена/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Labels: smoke

#803 Smoke тест программной записи элементов справочников
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tests/smoke/тесты_ЗаписьЭлементовСправочников/тесты_ЗаписьЭлементовСправочников.xml
  tests/smoke/тесты_ЗаписьЭлементовСправочников/тесты_ЗаписьЭлементовСправочников/Ext/ObjectModule.bsl
Labels: hacktoberfest-accepted, smoke

#812 совместимость с 8.3.6
  lib/CF/83/Configuration.xml
  lib/CF/83NoSync/Catalog.Справочник1.Form.ФормаЭлемента.Form.xml
  lib/CF/83NoSync/Catalog.Справочник3.Template.Макет.Template.xml
  lib/CF/83NoSync/Configuration.xml
  lib/CF/83xdd/Configuration.xml
  lib/CF/83xddNoSync/Configuration.xml
Labels: tech.debt

#811 fix Smoke ЗаписьЭлементовСправочников: ошибочно мог выполняться тест записи групп справочников.
  tests/smoke/тесты_ЗаписьЭлементовСправочников/тесты_ЗаписьЭлементовСправочников/Ext/ObjectModule.bsl
Labels: smoke

#810 Smoke тест программной записи групп справочников
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tests/smoke/тесты_ЗаписьГруппСправочников/тесты_ЗаписьГруппСправочников.xml
  tests/smoke/тесты_ЗаписьГруппСправочников/тесты_ЗаписьГруппСправочников/Ext/ObjectModule.bsl
Labels: smoke

#806 fix ПроверкаМакетовСКД
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД.xml
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД/Ext/ObjectModule.bsl
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД/Forms/Форма.xml
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД/Forms/Форма/Ext/Form.xml
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД/Forms/Форма/Ext/Form/Module.bsl
Labels: smoke

#813 TDD дополнена и уточнена документация "Создание файлов-тестов"
  doc/xdd/Создание-файлов-тестов.MD
Labels: docs, tdd

#815 add new smoketest Тесты_ПроверкаПериодичностиНумерацииДокументов
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов.xml
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов/Ext/ObjectModule.bsl
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов/Forms/Форма.xml
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов/Forms/Форма/Ext/Form.xml
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Labels: smoke

#814 add new smoketest Тесты_ПереходНаУправляемыеФормы
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы.xml
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Ext/ObjectModule.bsl
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Forms/Форма.xml
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Forms/Форма/Ext/Form.xml
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Labels: smoke
