Repository vanessa-opensource/add, pull requests merged in 2020-05, with the labels that each got.

#734 Новые шаги по вводу даты в поле
  features/libraries/UITestRunner/step_definitions/РаботаСИнтерфейсом/РаботаСИнтерфейсом/Forms/Форма/Ext/Form/Module.bsl
Labels: behavior

#742 Проверять признак модифицированности данных формы
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Labels: smoke

#747 Update readme.md
  tests/smoke/readme.md
Labels: docs, smoke

#750 Исправление оглавления в README.md
  README.md
Labels: docs

#749 Решение бага - Помещение файла невозможно, повторите попытку позднее - контрибьютор
  epf/xddTestRunner/xddTestRunner/Forms/МодульАсинк/Ext/Form/Module.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/ЗагрузчикФайла/ЗагрузчикФайла/Forms/Форма/Ext/Form/Module.bsl
Labels: bug, tdd, tech.debt

#752 Ускорен показ дерева тестов на больших конфигурациях, в т.ч для дымовых тестов (xdd)
  epf/xddTestRunner/xddTestRunner/Forms/МодульАсинк/Ext/Form/Module.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/ПостроительДереваТестов/ПостроительДереваТестов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Tests_SmokeCommonModules/Tests_SmokeCommonModules/Forms/Form/Ext/Form/Module.bsl
Labels: smoke

#753 Настройка модальных окон и их закрытия для дымовых тестов
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/readme.md
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Labels: docs, smoke

#754 Дополнительные параметры запуска тест-клиента (tdd и дымовые)
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/ПарсерКоманднойСтроки/ПарсерКоманднойСтроки/Ext/ObjectModule.bsl
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/vrunner.json
Labels: plugins, smoke, tdd

#755 Новый шаг - я открываю внешний файл "путь файла"
  features/libraries/Файлы/Открытие внешнего файла.feature
  lib/cfe/ОткрытиеВнешнихФайлов/Configuration.xml
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/ОткрытьВнешнийФайл.xml
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/ОткрытьВнешнийФайл/Commands/ОткрытьВнешнийФайл/Ext/CommandModule.bsl
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/ОткрытьВнешнийФайл/Forms/МодульАсинк.xml
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/ОткрытьВнешнийФайл/Forms/МодульАсинк/Ext/Form.xml
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/ОткрытьВнешнийФайл/Forms/МодульАсинк/Ext/Form/Module.bsl
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/ОткрытьВнешнийФайл/Forms/ОткрытьВнешнийФайл.xml
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/ОткрытьВнешнийФайл/Forms/ОткрытьВнешнийФайл/Ext/Form.xml
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/ОткрытьВнешнийФайл/Forms/ОткрытьВнешнийФайл/Ext/Form/Module.bsl
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/СтроковыеУтилиты.xml
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/СтроковыеУтилиты/Ext/ObjectModule.bsl
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/СтроковыеУтилиты/Forms/Форма.xml
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/СтроковыеУтилиты/Forms/Форма/Ext/Form.xml
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/СтроковыеУтилиты/Forms/Форма/Ext/Form/Module.bsl
  lib/cfe/ОткрытиеВнешнихФайлов/Languages/Русский.xml
  lib/cfe/ОткрытиеВнешнихФайлов/Subsystems/Тестирование_ВнешниеФайлы1.xml
  lib/cfe/ОткрытиеВнешнихФайлов/Subsystems/Тестирование_ВнешниеФайлы1/Ext/CommandInterface.xml
Labels: behavior
