Repository vanessa-opensource/add, pull requests merged in 2020-12, with the labels that each got.

#816 fix smoketest Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный
  tests/smoke/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный.xml
  tests/smoke/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Labels: smoke

#823 Совместимость поднята до 8.3.8 + возможность отключения дымовых тестов через настройки
  .gitlab-ci.yml
  doc/README.md
  lib/CF/83xdd/Configuration.xml
  lib/CF/83xddNoSync/Configuration.xml
  plugins/ЗапросыИзБД/ЗапросыИзБД/Ext/ObjectModule.bsl
  plugins/Настройки/Настройки/Forms/Форма/Ext/Form/Module.bsl
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Smoke_InputBasedOn/Smoke_InputBasedOn/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Tests_SmokeCommonModules/Tests_SmokeCommonModules/Forms/Form/Ext/Form/Module.bsl
  tests/smoke/readme.md
  tests/smoke/smoke.example.json
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Labels: smoke, tech.debt

#826 Плагин Данные - Всегда возвращается новый объект + проверки существования реквизитов
  plugins/Данные/Данные/Ext/ObjectModule.bsl
  tests/xunit/Plugins/Тесты_Данные/Тесты_Данные/Ext/ObjectModule.bsl
Labels: plugins
