Repository vanessa-opensource/add, pull requests merged in 2020-10, with the labels that each got.

#776 Исправлена ошибка в ЖР при запуске теста "Тесты_ОткрытиеФормКонфигурации" #772
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Labels: smoke

#770 feat: Работа с переменными окружения
  epf/xddTestRunner/xddTestRunner/Forms/МодульАсинк/Ext/Form/Module.bsl
  features/libraries/ПеременныеОкружения/step_definitions/ПеременныеОкружения/Переменные_окружения/Forms/Форма/Ext/Form/Module.bsl
  plugins/ПеременныеОкружения/ПеременныеОкружения.xml
  plugins/ПеременныеОкружения/ПеременныеОкружения/Ext/ObjectModule.bsl
  plugins/ПеременныеОкружения/ПеременныеОкружения/Forms/Форма.xml
  plugins/ПеременныеОкружения/ПеременныеОкружения/Forms/Форма/Ext/Form.xml
  plugins/ПеременныеОкружения/ПеременныеОкружения/Forms/Форма/Ext/Form/Module.bsl
  tests/xunit/Plugins/Тесты_ПеременныеОкружения/Тесты_ПеременныеОкружения.xml
  tests/xunit/Plugins/Тесты_ПеременныеОкружения/Тесты_ПеременныеОкружения/Forms/Форма.xml
  tests/xunit/Plugins/Тесты_ПеременныеОкружения/Тесты_ПеременныеОкружения/Forms/Форма/Ext/Form.xml
  tests/xunit/Plugins/Тесты_ПеременныеОкружения/Тесты_ПеременныеОкружения/Forms/Форма/Ext/Form/Module.bsl
Labels: behavior, plugins, tdd

#779 Сравнение дат и чисел по значению в "Таблица формы стала равной"
  features/libraries/UITestRunner/step_definitions/РаботаСИнтерфейсом/РаботаСИнтерфейсом/Forms/Форма/Ext/Form/Module.bsl
Labels: behavior

#775 починил загрузку настроек
  plugins/СериализаторMXL/СериализаторMXL/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Labels: Генерация данных

#782 Гарантированное завершение всех тест-клиентов
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Labels: smoke

#783 возможность отключения теста + метаданных в тесте "Проверка чтения не-администраторами"
  tests/smoke/smoke.bsp.json
  tests/smoke/ПроверкаЧтенияНеАдминистраторами/ПроверкаЧтенияНеАдминистраторами.xml
  tests/smoke/ПроверкаЧтенияНеАдминистраторами/ПроверкаЧтенияНеАдминистраторами/Ext/ObjectModule.bsl
  tools/JSON/xUnitParams.json
Labels: smoke

#787 Исправил опечатки, грамматику и орфографию в CODE OF CONDUCT
  CODE_OF_CONDUCT.md
Labels: docs, hacktoberfest-accepted

#786 Отображение пути к загруженным настройкам в браузере тестов
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form.xml
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Labels: hacktoberfest-accepted, tdd

#790 настройка выполнения теста РежимБлокировкиДанных
  tests/smoke/readme.md
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tests/smoke/ПроверкаРежимаБлокировки/ПроверкаРежимаБлокировки.xml
  tests/smoke/ПроверкаРежимаБлокировки/ПроверкаРежимаБлокировки/Ext/ObjectModule.bsl
  tools/JSON/xUnitParams.json
Labels: smoke

#791 Автоматически закрываем форму с вопросом Завершить работу с помощником
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tools/JSON/xUnitParams.json
Labels: hacktoberfest-accepted, smoke

#792 исправлена ошибка в тесте ввода на основании
  tests/smoke/Smoke_InputBasedOn/Smoke_InputBasedOn/Forms/Форма/Ext/Form/Module.bsl
Labels: hacktoberfest-accepted, smoke

#796 doc: дополнен и уточнен раздел справки "Текучие-(fluent)-утверждения"
  doc/xdd/Текучие-(fluent)-утверждения.MD
Labels: docs

#789 ВыполнитьКомандуОС*СВыводом в линуксе не получает вывод
  plugins/УправлениеПриложениями/УправлениеПриложениями/Ext/ObjectModule.bsl
  plugins/УправлениеПриложениями/УправлениеПриложениями/Forms/Форма/Ext/Form/Module.bsl
Labels: hacktoberfest-accepted, plugins

#797 Документация и примеры json-настроек для новых дымовых тестов
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tests/smoke/Тесты_ПроверкаВключенияНовыхОбъектовСПрефиксомВПодсистему/Тесты_ПроверкаВключенияНовыхОбъектовСПрефиксомВПодсистему/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПравНаЧтениеОбъектовRLS/Тесты_ПроверкаПравНаЧтениеОбъектовRLS/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПраваИнтерактивногоУдаления/Тесты_ПроверкаПраваИнтерактивногоУдаления.xml
  tests/smoke/Тесты_ПроверкаПраваИнтерактивногоУдаления/Тесты_ПроверкаПраваИнтерактивногоУдаления/Forms/Форма.xml
  tests/smoke/Тесты_ПроверкаПраваИнтерактивногоУдаления/Тесты_ПроверкаПраваИнтерактивногоУдаления/Forms/Форма/Ext/Form.xml
  tools/JSON/xUnitParams.json
Labels: smoke

#802 Лог от серверных тестов при запуске в УФ и можно видеть ошибки тестов из модуля объекта сразу в логе консоли
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Labels: smoke, tdd, tech.debt

#777 Ошибочное имя теста в функции ДобавитьТестИсключениеЕслиЕстьВИсключаемойКоллекции
  tests/smoke/тесты_ПроведениеДокументов/тесты_ПроведениеДокументов/Ext/ObjectModule.bsl
Labels: invalid
